*{
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

#main {
    height: 100%;
}

#top {
    display: flex;
    justify-content: space-between;
}

#deck-reciever{
    border: thin solid black;
}

#deck-reciever .card.front{
    position: absolute;
}

.card {
    height: 30vh;
    min-height: 30vh;
    width: 20vh;
    min-width: 20vh;
    border-radius: 10px;
}

.card.back {
    border: solid thin darkblue;
    background: content-box radial-gradient(crimson, skyblue);
}

.card.back .reciever{
    display:none;
}

.card.front{
    padding: 0;
    border: solid thin black;
    background: white;

    font-family: sans-serif;
    font-weight: bold;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.card.front .label{
  padding: 5px;    
  pointer-events: none;
}

.card.front .label:first-child{
    
}

.card.front .label:nth-last-child(2){
    text-align: right;
    
}

.card.front .reciever{
    position: absolute;
}

.card.suite-area-reciever {
    border: solid thin dimgrey;
    background: lightgray;
    opacity: 0.5;
    margin: 2px;
}

#playArea{
    display: flex;
    width: 100%;
    justify-content: space-around;
    
}

#playArea .stack {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 20vh;
    border: solid yellow;
}

#playArea .card{
    position: absolute;
}

.card div{
    
}

.card.back  .display, .card.back .label{
    visibility: hidden;
}

.card .display img{
    height: calc(2vh + 2vw);
}

.card .label img{
    height: 1.5vh
 
}

.display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 5px;
    justify-items: center;

    pointer-events: none;
}

.display :nth-child(2){
    grid-row: 3;
    grid-column: 3;
}

.display :nth-child(3){
    grid-row: 2;
    grid-column: 2;
}

.display :nth-child(4){
    grid-row: 1;
    grid-column: 3;
}

.display :nth-child(3):nth-last-child(2){
    grid-row: 3;
    grid-column: 1;
}

.display :nth-child(5){
    grid-row: 3;
    grid-column: 1;
}

.display :nth-child(6){
    grid-row: 2;
    grid-column: 3;
}

.display :nth-child(3):nth-last-child(4){
    grid-row: 2;
    grid-column: 1;
}

.display :nth-child(7):nth-last-child(1){
    grid-row: 2;
    grid-column: 1;
}

.display :nth-child(3):nth-last-child(6){
    grid-row: 3;  
}

.display :nth-child(10){
    grid-column: 2;
}

.display .face{
    grid-row: 1/4;
    grid-column: 1/4;
    font-size: 180px;
    color: white;
    text-shadow: 2px 2px grey, -2px 0 grey;
    background-repeat: round repeat;
/*     background-size: contain; */
}

#suites{
    display: flex;
}

#suites .card.front{
    position: absolute;
}